<div class="container-fluid">
<%= render "shared/banner" %>
</div>
<br>
<div class="container">
  <div>
    <br>
    <h1>Available Pets</h1>
      <br>
      <br>
      <div class='pet_list'>
        <% @pets.each do |pet| %>
          <%= render "shared/pet_card", pet: pet %>
        <% end %>
      </div>
      <br>
      <form class="form-inline">
      <br>
        <p><%= link_to "All bookings", bookings_path, class: "button" %></p>
        <br>
        <p><%= link_to "Add your pet", new_pet_path, class: "button" %></p>
        <br>
        </form>
    </div>
    <div>
      <%= link_to "Your bookings", bookings_path, class: "button" %>
      <%= link_to "Add your pet", new_pet_path, class: "button" %>
    </div>
  </div>
</div>
