<div class="container">
  <div>
    <h1>Pets to snuggle on NUZZLE</h1>
      <br>
      <br>
        <% @pets.each do |pet| %>
        <p><%= link_to pet.name, pet %> - <%= pet.description %> Price: R$<%= pet.price %></p>
        <% end %>
      <div class='pet_list'>
        <%= render "shared/cardgrid" %>
      </div>
      <br>
      <br>
        <p><%= link_to "All bookings", bookings_path, class: "button" %></p>
        <br>
        <p><%= link_to "Add your pet", new_pet_path, class: "button" %></p>
        <br>
    </div>
</div>
