<h1>PET</h1>
<p><%= @pet[:name] %></p>
<p><%= render "shared/card" %> </p>
<p>Description: <%= @pet[:description] %></p>
<p>Price: R$<%= @pet[:price] %></p>
<br>
<p><%= link_to "Book", new_pet_booking_path(@pet), class: "button" %></p>
<br>
<p><%= link_to "back to pets index", pets_path, class: "button" %></p>
<br>
