<h1>PET</h1>
<p><%= @pet[:name] %></p>
<p>Description: <%= @pet[:description] %></p>
<p>Price: BRL<%= @pet[:price] %></p>
<p><%= link_to "Book", new_pet_booking_path(@pet) %></p>
<p><%= link_to "back to index", pets_path %></p>
