<div class="container">
    <div class="col-md-12">
      <br>
      <h1>Place a new Booking</h1>
        <div class="testing-card-product">
          <div class="product-img"style="background-image: url('https://i.imgur.com/PtlwGed.jpg')">
        </div>
          <div class="testing-card-product-infos">
            <h2><%= @pet[:name].capitalize%></h2>
                <p><%= @pet[:description]%></p>
              <h3>Price per day R$<%= @pet[:price] %></h3>
              <%= simple_form_for [@pet, @booking] do |f| %>
                <%= f.input :start_on, label: 'From', as: :string, input_html: {type: :date} %>
                <%= f.input :end_on, label: 'To', as: :string, input_html: {type: :date} %>
                <%= f.button :submit, 'Book your nuzzle now!', class: "button", data: {confirm: "Yeay! 🎉 You are now booked in to nuzzle this pet!"}%>
                <% end %>
          </div>
    </div>
</div>
        <p><%= link_to "Go to your bookings", bookings_path, class: "button" %></p>
        <br>
        <p><%= link_to "Back to available pets", pets_path, class: "button" %></p>
        <br>

