<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- WE SHOULD INSERT THE ANIMAL CARD -->
      <h1>Place a new Booking on <%= @pet.name %></h1>
        <p>Price per day: R$ <%= @pet.price %></p>
      <%= simple_form_for [@pet, @booking] do |f| %>
        <%= f.input :start_on, as: :string, input_html: {type: :date} %>
        <%= f.input :end_on, as: :string, input_html: {type: :date} %>
        <%= f.button :submit, 'Book your nuzzle now!', class: "button", data: {confirm: "Yeay! 🎉 You are now booked in to nuzzle this pet!"}%>
        <% end %>
        <br>
        <p><%= link_to "Go to your bookings", bookings_path, class: "button" %></p>
        <br>
        <p><%= link_to "Back to available pets", pets_path, class: "button" %></p>
        <br>
    </div>
  </div>
</div>

