<h1>Booking</h1>
<p>Pet: <%= @booking.pet.name %></p>
<p>Period: <%= @booking[:start_on] %> -- <%= @booking[:end_on] %></p>
<p>Price: BRL<%= @booking[:price] %></p>

<p><%= link_to "back to bookings index", bookings_path, class: "button" %></p>
<br>
<p><%= link_to "back to pets index", pets_path, class: "button" %></p>
<br>
