<div class="pet_card">
  <div class="product-img" style="background-image: url(<%= booking.pet.photo %>);">
  </div>
  <div  class="grid-card-infos">
    <h2><%= booking.pet.name %></h2>
    <h3><%= booking.pet.species %></h3>
    <p>From: <%= booking.start_on %> - To: <%= booking.end_on %></p>
    <h3> Price: R$ <%= booking.pet.price %></h3>
    <br>
    <%= link_to "details", booking, class: "button" %>
  </div>
</div>
